body {
	font-family: cursive;
	background-color: rgb(7, 7, 39);
}

.box {
	border: 1px solid black;
	width: 15px;
	height: 15px;
	margin-left: -1px;
	margin-bottom: -1px;
}

.off {
	background-color: rgb(189, 194, 255);
}

.on {
	background-color: green;
}

.box:hover {
	background: #00ccff;
}

h1,
h2,
h3,
h4 {
	color: white;
	margin: auto;
	text-align: center;
	width: 50%;
	margin-top: 10px;
}

h4 {
	margin-top: 0px;
}
